In [1]:
#Python Basic 1
#Data types and structure

In [2]:
print("Hello World")

Hello World

In [3]:
print("Hello World","1234","DTS Data Science")

Hello World 1234 DTS Data Science

In [5]:
print("Hello World" + "1234" + "DTS Data Science")

Hello World1234DTS Data Science

In [6]:
type(11)

int

In [7]:
type(0.123)

float

In [8]:
type("contoh")

str

In [14]:
a = 11
b = 0.1234
c = "Hello"

In [15]:
str(123)

'123'

In [10]:
float(4)

4.0

In [11]:
int(1.2391)

1

In [13]:
int("123")

123

In [18]:
print('Hello World')
print("Hello World(1)")

Hello World
Hello World(1)

In [19]:
type(True)

bool

In [21]:
int(True)

1

In [22]:
float(True)

1.0

In [23]:
bool(1)

True

In [24]:
bool(0)

False

In [25]:
bool(1.2)

True

In [26]:
bool(-1.21)

True

In [27]:
25//2

12

In [28]:
25/2

12.5

In [29]:
3+3*5

18

In [30]:
(3 + 3) * 5

30

In [32]:
3 + 3 * 6 + 5 / 2

23.5

In [33]:
x = 160/6

In [34]:
type(x)

float

In [35]:
x = 160

In [36]:
type(x)

int

In [37]:
mytuple=(1,2,3,'AAA','BBB',0.1,0.2,0.3)

In [38]:
mytuple

(1, 2, 3, 'AAA', 'BBB', 0.1, 0.2, 0.3)

In [39]:
type(mytuple)

tuple

In [41]:
mytuple[4]

'BBB'

In [43]:
print(mytuple[-2])
print(mytuple[-1])
print(mytuple[0])
print(mytuple[1])
print(mytuple[2])

0.2
0.3
1
2
3

In [44]:
mytuple[0:4]

(1, 2, 3, 'AAA')

In [45]:
len(mytuple)

8

In [48]:
mytuple2 = (1,2,3,4)

In [49]:
mytuple2

(1, 2, 3, 4)

In [50]:
mytuple3=mytuple2

In [51]:
mytuple3

(1, 2, 3, 4)

In [54]:
mytuple2=(5,6,7)

In [55]:
mytuple2

(5, 6, 7)

In [56]:
mytuple3

(1, 2, 3, 4)

In [57]:
mytuple3 = (1,6,7,0,12,54)

In [58]:
mytuple3=sorted(mytuple3)

In [65]:
mytuple3

[0, 1, 6, 7, 12, 54]

In [61]:
mytuple4 = (1,2,3,"AAA",(1,2),("BB","CC"))
mytuple4[3:6]

('AAA', (1, 2), ('BB', 'CC'))

In [71]:
mytuple5 = (1,mytuple2,mytuple4)
mytuple5

(1, (5, 6, 7), (1, 2, 3, 'AAA', (1, 2), ('BB', 'CC')))

In [66]:
type(mytuple3)

list

In [72]:
mytuple5[2][:2]

(1, 2)

In [76]:
a = sorted(("A","B","AA","BB"))
a

['A', 'AA', 'B', 'BB']

In [77]:
type(a)

list

In [82]:
L = [1,2,3,"AA","BB","CC"]
print(L)
L[3] = "aa"
print(L)

[1, 2, 3, 'AA', 'BB', 'CC']
[1, 2, 3, 'aa', 'BB', 'CC']

In [92]:
print(L[2:5])

[3, 'aa', 'BB']

In [93]:
L.extend(["pop",10])
L

[1,
 2,
 3,
 'aa',
 'BB',
 'CC',
 'pop',
 10,
 'pop',
 10,
 ['pop', 10],
 ['pop', 10],
 'pop',
 10,
 'pop',
 10,
 ['pop', 10],
 'pop',
 10]

In [94]:
L.append(["pop",10])
L

[1,
 2,
 3,
 'aa',
 'BB',
 'CC',
 'pop',
 10,
 'pop',
 10,
 ['pop', 10],
 ['pop', 10],
 'pop',
 10,
 'pop',
 10,
 ['pop', 10],
 'pop',
 10,
 ['pop', 10]]

In [96]:
del(L[0:3])
L

['pop',
 10,
 'pop',
 10,
 ['pop', 10],
 ['pop', 10],
 'pop',
 10,
 'pop',
 10,
 ['pop', 10],
 'pop',
 10,
 ['pop', 10]]

In [97]:
"hard rock".split()

['hard', 'rock']

In [98]:
a="aa/ss/dd/ww/qq/ss"
L2=a.split("/")
L2

['aa', 'ss', 'dd', 'ww', 'qq', 'ss']

In [100]:
L3 = L2
L2

['aa', 'ss', 'dd', 'ww', 'qq', 'ss']

In [104]:
L2[2] = 'wfh'

In [105]:
print(L2)
print(L3)

['aa', 'ss', 'wfh', 'ww', 'qq', 'ss']
['aa', 'ss', 'wfh', 'ww', 'qq', 'ss']

In [110]:
L4 = L2.copy()

In [111]:
print(L4)
L2[3] = 'uu'
print(L2)
print(L3)
print(L4)

['aa', 'ss', 'wfh', 'ww', 'qq', 'ss']
['aa', 'ss', 'wfh', 'uu', 'qq', 'ss']
['aa', 'ss', 'wfh', 'uu', 'qq', 'ss']
['aa', 'ss', 'wfh', 'ww', 'qq', 'ss']

In [114]:
b = (1,2,3,"aa","bb","cc")
L5 = list(b)
print(L5)
type(L5)

[1, 2, 3, 'aa', 'bb', 'cc']

list

In [116]:
set1={"pop","rock","paper","paper","rock"}
set1

{'paper', 'pop', 'rock'}

In [118]:
set2={1,3,12,13,214,4,411,3,2,1,1,3,5,62,234,1}
set2

{1, 2, 3, 4, 5, 12, 13, 62, 214, 234, 411}

In [122]:
set2 = set(L4)
set2.add("zainudin")
set2

{'aa', 'qq', 'ss', 'wfh', 'ww', 'zainudin'}

In [125]:
set3 = set2
print(set3)
print(set2)
print("-----------------------")
set2.add("66")
print(set2)
print(set3)

{'wfh', 'ww', 'qq', 'ss', 'zainudin', 'aa'}
{'wfh', 'ww', 'qq', 'ss', 'zainudin', 'aa'}
-----------------------
{'66', 'wfh', 'ww', 'qq', 'ss', 'zainudin', 'aa'}
{'66', 'wfh', 'ww', 'qq', 'ss', 'zainudin', 'aa'}

In [129]:
set2.remove("ss")
print(set2)
print(set3)

{'66', 'wfh', 'ww', 'zainudin', 'aa'}
{'66', 'wfh', 'ww', 'zainudin', 'aa'}

In [134]:
a = set2.pop()
print(a)
print(set2)

aa
set()

In [135]:
set2

set()

In [136]:
set3

set()

In [141]:
dict1 = {"k1":1234, "k2":567, "k3":8910, "k4":1000}

In [142]:
print(dict1["k3"])

8910

In [147]:
dict2 = {"data1":'holla', "data2":567, "data3":"fasis", "data4":1000}

In [152]:
print(dict2["data3"])
print(dict2["data2"])

fasis
567

In [ ]:
dict3 = {"data1":'holla', "data2":567, "data3":"fasis", "data4":1000}